#!/bin/bash

# Prepare LVM
mkdir -p ~/.mnt
sudo mount /dev/disk/by-uuid/{{ uuid }} ~/.mnt

# Sync each repository
{% for repo in repos %}
rclone sync -v {{ repo.mount_name }}:repo ~/.mnt/{{ repo.mount_name }}
{% endfor %}

sudo umount ~/.mnt
