{% for repo in repos %}
[{{ repo.mount_name }}]
type = sftp
host = {{ repo.host }}
user = {{ repo.user }}
key_file = {{ key_file }}
shell_type = unix
md5sum_command = none
sha1sum_command = none
{% endfor %}
